doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header 
      h1 Members Only
      nav 
        ul 
          li 
            a(href="/") Home
          li 
            a(href=(user === undefined ? "/login" : "/profile"))
              | #{user === undefined ? "Login/Signup" : "Profile"}
      if user 
        if !user.member
          p You are not a member yet, 
            a(href="/joinclub") join now
    block content
