extends layout 

block content 
  h1= title 
  if error.length 
    p.error= error
  form(action="", method="post") 
    .form-row
      label(for="username") User Name 
      input#username(type="text" name="username")
    .form-row
      label(for="password") Password 
      input#password(type="password" name="password")
    button(type="submit") Log in
  p Not a member, 
    a(href="/signup") Sign up!