extends layout 

block content 
    h1= title
    form(action="", method="post") 
        // First and last name
        label(for="firstname") First Name: 
        input#firstname(type="text" name="firstname" value=(user === undefined ? "" : user.firstname) required)
        label(for="lastname") Last Name: 
        input#lastname(type="text" name="lastname" value=(user === undefined ? "" : user.lastname) required)
        // Username
        label(for="username") User Name: 
        input#username(type="text" name="username" value=(user === undefined ? "" : user.username) required)
        // Bio
        label(for="bio") Bio: 
        textarea#bio(name="bio" cols="18" placeholder="Tell us about yourself" required ) #{user === undefined ? "" : user.bio}
        // Email
        label(for="dob") Date of birth: 
        input#dob(type="date" name="dob" value=(user === undefined ? "" : user.dob_yyyy_mm_dd) required)
        // DOB
        label(for="email") Email: 
        input#email(type="email" name="email" value=(user === undefined ? "" : user.email) required)
        // Password
        label(for="password") Password: 
        input#password(type="password" name="password" required)
        label(for="cpassword") Confirm password: 
        input#cpassword(type="password" name="cpassword" required)

        button(type="submit") Sign Up
    p Already a member, 
    a(href="/login") Login

    if errors 
        ul 
            each error in errors 
                li.error #{error.msg}
